pandas 
numpy 
firebase-admin
google-cloud-firestore
cachetools
pydantic-settings
fastapi
uvicorn
pydantic
pydantic-core
openai
anthropic
fastapi_versioning
aes-everywhere
sse-starlette
sh
uvicorn[standard]
websockets
gunicorn